<% @page_title = "Spot Parking | Sing In" %>
<main>
  <div class="page-wrap container">
    <%= form_for @user, :html => {:class => "col-md-offset-3 col-sm-offset-2 col-sm-5 col-md-6 form-horizontal center"} do |f| %>
        <h2 class="titles text-center">Registration</h2>

        <div class="list-group-item-danger text-center">
          <%if flash[:error] == "Email already used"%>
            <h3>Email already used</h3> <!--Traducir-->
          <%end%>
          <%if flash[:error] == "Passwords not"%>
            <h3>Passwords don't match</h3> <!--Traducir-->
          <%end%>
        </div>
      <!-- <h3><% @user.name %></h3> -->

      <div class="form-group">
        <%= f.label :name, "Name:", class: "control-label" %>
        <%= f.text_field :name, :required => true, placeholder:'Enter your name', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email, "Email:", class: "control-label" %>
        <%= f.email_field :email, :required => true, placeholder:'Enter your email', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, "Password:", class: "control-label" %>
        <%= f.password_field :password, :required => true, placeholder:'Enter your password', pattern:'([.\wA-Za-z]){6,}', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :confirmation_password, "Confirmation Password:", class: "control-label" %>
        <%= f.password_field :confirmation_password, :required => true, placeholder:'Enter your password again', class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "Submit", class: "btn btn-lg btn-default btn-primary" %>
      </div>
    <%end%>
  </div>
</main>