<% @page_title = "Spot Parking | Login" %>
<main>
  <div class="page-wrap container">
   	<%= form_for :user, :url => {:controller => 'sessions', :action => 'create'}, :html => {:class => "col-md-offset-3 col-sm-offset-2 col-sm-5 col-md-6 form-horizontal center"} do |f| %>

      <h2 class="titles text-center">Login</h2>
      <%if flash[:error] == "Authentication Required" || flash[:error] == "Wrong User"%>
        <div class="text-center list-group-item-danger">
          <h3>Authentication Required</h3> <!--Traducir-->
        </div>
      <%end%>

      <div class="form-group">
        <%= f.label :email, "Email:", class: "control-label" %>
        <%= f.email_field :email,:required => true, placeholder:'Enter your email',class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, "Password:", class: "control-label" %>
        <%= f.password_field :password,:required => true, placeholder:'Enter your Password',pattern:'([.\wA-Za-z]){6,}',class: "form-control" %>
        <p class="text-right"><a href="#">Forgot your password?</a></p> <!--Traducir-->
      </div>

      <div class="form-group">
        <%= f.submit "Submit", class: "btn btn-lg btn-default btn-primary" %>
      </div>

    <% end %>
  </div>
</main>