<!DOCTYPE html>
<html>
<head>
  <title>SpotParkingApp</title>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
</head>

<body>
  <header class="navbar navbar-fixed-top " role="banner">
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <ul class="nav navbar-nav">
		  <li>
		  	<img width="48px" height="48px"src="/assets/icon.png" class="img-responsive navbar navbar-btn">
		  </li>
		  <li>
		   	<%= link_to "Spot Parking", root_path ,class:'navbar-btn navbar-brand'%> /li>
			<%unless session[:user_id]%> <!--Traducir-->
			  <li><%= link_to "Login", :login ,class:'navbar-btn'%></li> <!--Traducir-->
			  <li><%= link_to "Sing in", :sign_in ,class:'navbar-btn'%></li> <!--Traducir-->
			<%else%>
			  <li class="navbar-btn dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account <span class="caret"></span></a> <!--Traducir-->
				<ul class="dropdown-menu" role="menu">
				  <li><a href="#">My Reservations</a></li> <!--Traducir-->
				  <li><a href="#">Account Settings</a></li> <!--Traducir-->
				</ul>
			  </li>
			  <li>
			   	<%= link_to "Logout", :logout_sessions ,class:'navbar-btn'%>
			  </li>
			<%end%>
		  </li>
		</ul>
	  </div>
	</nav>
  </header>

  <%= yield %>

  <footer>
  	<br><br>
  	<nav class ="breadcrumb">
	  <p class="text-center">
	  	2015 UCV All rights reserved <br><!--Traducir-->
	  	<a>Español</a> |
	  	<a>English</a>
	  </p>
	</nav>
  </footer>
</body>
</html>
