<!DOCTYPE html>
<html>
<head>
  <title>SpotParkingApp</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<header class="navbar navbar-fixed-top " role="banner">
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <ul class="nav navbar-nav">
		     	<li><%= link_to "Spot Parking", root_path ,class:'navbar-btn navbar-brand'%></li>
			    <%unless session[:usuario_id]%>
				    <li><%= link_to "Login", {controller: "user"},action:"home" ,class:'navbar-btn'%>
				    </li> <!--Traducir-->
				    <li><%= link_to "Sing in", {controller: "user"}, action: "create" ,class:'navbar-btn'%>
				    </li> <!--Traducir-->
				<%else%>
			    	<li class="navbar-btn dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account <span class="caret"></span></a> <!--Traducir-->
			          <ul class="dropdown-menu" role="menu">
			            <li><a href="#">My Reservations</a></li> <!--Traducir-->
			            <li><a href="#">Account Settings</a></li> <!--Traducir-->
			          </ul>
			        </li>
			        <li>
			        	<a href="#" class="navbar-btn">Logout</a>
			        </li>
				<%end%>
		      </ul>
		  </div>
		</nav>
</header>
<%= yield %>
<footer>
	<center>
		<nav class ="breadcrumb">
		  <p class="">2015 UCV All rights reserved</p> <!--Traducir-->
		  <a>Español</a> |
		  <a>English</a>
		</nav>
	</center>
</footer>
</body>
</html>
